section.table {
    // background-color: brown;
    width: 100%;
    max-width: 850px;
    height: 100vh;
    background-image: url(/src/assets/tables/bg-vertical.jpeg);
    filter: opacity(0.8) contrast(1.2);;
    background-size: cover;

    color: black;


  
  .player {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin: -15px 0 0 -15px; /* half the width/height */
  
}

.player-image-section {
    padding: 20%;
    border-radius: 50%;
  }

  button.player-image-section {
    background: rgb(255, 190, 50);

  }
  
  /* Rotate each player around the table */
  .player:nth-child(1) { transform: translate(220px, 120px)  }
  .player:nth-child(2) { transform: translate(220px, -120px)  }
  .player:nth-child(3) { transform: translate(100px, -320px)  }
  .player:nth-child(4) { transform: translate(-140px, -320px)  }
  .player:nth-child(5) { transform: translate(-260px, 120px)  }
  .player:nth-child(6) { transform: translate(-260px, -120px)  }
}